.section-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em;
}

.space-y-6 > article {
  text-align: center;
}

.education-degree {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.education-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.meta-text {
  color: var(--color-gray-500);
  font-size: 0.875rem;
}

.meta-separator {
  margin: 0 0.5rem;
  color: var(--color-gray-400);
}

.education-link {
  @include link;
}
