# Ignore everything
** 

# Only include these files/folders in the build context:
!package.json
!package-lock.json
!app
!Dockerfile
!docker-compose.yml
!nginx.conf
!public
!content
!i18n
!components
!tsconfig.json
!README.md
!scripts
!*.ts
