**/*

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!Dockerfile
!nginx.conf
!app
!components
!lib
!messages
!i18n
!global.d.ts
!next-env.d.ts
!public
!scripts
!next.config.ts
!tsconfig.json
!postcss.config.mjs
!components.json
