# Ignore everything
** 

# Only include these files/folders in the build context:
!package.json
!package-lock.json
!nuxt.config.ts
!content.config.ts
!app.vue
!app.scss
!Dockerfile
!docker-compose.yml
!nginx.conf
!public
!content
!i18n
!components
!assets
!types
!tsconfig.json
!README.md
