# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
storybook-static

# Node dependencies
node_modules

# Logs
logs
*.log

# Playwright outputs
playwright-report
test-results
artifacts/screenshots

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
