*

!.gitignore

!.github
!.github/workflows
!.github/workflows/*.yaml

!src
!src/*.html
!src/sitemap.xml
!src/robots.txt
!src/*.css
!src/assets
!src/assets/*.png
!src/assets/*.jpg

!nginx.conf

!Dockerfile
