main {
  background-color: #DADADA;
  color: black;
}

html, body {
  background-color: #343A3F;
  color: white;
}

h1 {
  letter-spacing: 5pt;
}

h4 {
  letter-spacing: 3pt;
}

.orange {
  color: #C86645;
}

#me {
  background-image: url("/assets/me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100px;
  position: relative;
  bottom: -50px;
  height: 200px;
  width: 200px;
  border: 10px solid #DADADA;
}

hr.col {
  border-top-color: white;
}

header a,header a:hover,header a:active,header a:visited {
  color: white;
}

a, a:hover, a:active, a:visited {
  color: black;
}
