@use '~/assets/styles/_variables.scss' as *;

@mixin link {
  color: initial;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

@mixin glass-effect {
  background-color: $bg-card;
  backdrop-filter: blur(8px);
  border: 1px solid $border-color;
}

@mixin hover-transition {
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(55, 65, 81, 0.5);
  }
}

@mixin responsive($breakpoint) {
  @if $breakpoint ==sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  }

  @if $breakpoint ==md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  }

  @if $breakpoint ==lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }

  @if $breakpoint ==xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}
