// Add your Skills component styles here
.section-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.skill > a {
  @include link;
}
